.row {
    display: flex;
    width: 100%;
}
.col {
    flex: 1;
    flex-direction: column;
    margin: 5px;
    background-color:cornflowerblue;
    height: 30px;
}
.col-2 {
    flex: 2;
    flex-direction: column;
    margin: 5px;
    background-color: cornflowerblue;
    height: 30px;
}
.col-3 {
    flex: 3;
    flex-direction: column;
    margin: 5px;
    background-color: cornflowerblue;
    height: 30px;
}